div.topic_list {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid lightgrey;
}

div.topic_list:hover {
  background-color: #F4F4F4;
}

.avatar {

}

.reply_visit {
  display: inline-block;
  width: 100px;
  padding: 0 10px;
}

.tab {
  border-radius: 8px;
  padding: 0 3px;
  background-color: lightgreen;
}

.light_tab {
  border-radius: 8px;
  padding: 0 3px;
  background-color: #6EFF0C;
}

.title {
  font-size: 1.3em;
}

.last_reply_time{
  float: right;
  color: grey;
}

.topic_view_count {
  color: grey;
}

.nav_link_active {
  color: #D90EFD;
}

.nav-link {
  font-size: 1.1em;
}