ul.topic_info {
  min-height: 24px;
}

ul.topic_info>li {
  list-style: none;
  float: left;
  padding-right: 10px;
}

ul.topic_info>li:before {
  content: '•';
}

div.topic_content {
  padding: 20px 0 10px 10px;
  margin: 4px;
  border-top: 1px solid grey;
  background-color: #FFFFE0;
}

div.replies {
  margin: 3px;
  border-radius: 5px;
  background-color: #EFE9B7;
}

div.replies_pane_header {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  background-color: lightgrey;
  padding: 3px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

div.replies_pane_body {

}

.replies_item {
  min-height: 80px;
  padding: 5px;
  border-bottom: 1px solid lightgrey;
}

p.reply_item_content {
  padding: 5px 0 0 10px;
  margin-bottom: 5px;
  max-width: 90%;
}

span.do_reply {
  color: #777;
  font-size: 0.8em;
}

span.do_reply:hover {
  color: #444;
  text-decoration: underline;
}

.reply_box {
  width: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: height linear 500ms;
  -moz-transition: height linear 500ms;
  transition: height linear 500ms;
}

.reply_box.active_reply_box {
  width: 100%;
  height: 190px;
}

span.pull_right {
  float: right;
  clear: both;
  padding-right: 10px;
}

span.reply_loginname {
  color: #404040;
}

.write_reply {
  height: 160px;
}

textarea {
  width: 100%;
  height: 130px;
  resize: none;
}

.up_reply {
  color: lightgrey;
}